<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurar Contraseña</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/icon.png" type="image/png">
</head>

<body>
    <% if (errors) { %>
        <section class="error">
            <% errors.forEach(error=> { %>
                <p>
                    <%= error.msg %>
                </p>
                <% }); %>
        </section>
        <% } %>
            <% if (msg) { %>
                <section class="messages">
                    <% msg.forEach(m=> { %>
                        <p>
                            <%= m %>
                        </p>
                        <% }); %>
                </section>
                <% } %>
                    <% if (token) { %>
                        <section class="panel">
                            <img src="/img/logo.webp" alt="logo">
                            <h3>Configurar Contraseña</h3>
                            <form id="passwordForm" method="post" action="/change-password">
                                <input type="hidden" name="token" value="<%= token %>">
                                <div class="container">
                                    <section>
                                        <label for="password">Contraseña</label>
                                        <input id="password" name="password" type="password" required>
                                    </section>
                                </div>
                                <button class="search" type="submit">Configurar</button>
                            </form>
                        </section>
                        <% } %>
</body>

</html>