<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/icon.png" type="image/png">

    <script src="/js/script.js"></script>
</head>

<body>
    <form action="/logout" method="post">
        <button class="logout-button" type="submit">
            <img src="/img/logout.svg" alt="cerrar sesion" class="logout-icon"> Salir
        </button>
    </form>
    <% if (errors) { %>
        <section class="error">
            <% errors.forEach(error=> { %>
                <p>
                    <%= error.msg %>
                </p>
                <% }); %>
        </section>
        <% } %>
            <% if (msg) { %>
                <section class="messages">
                    <% msg.forEach(m=> { %>
                        <p>
                            <%= m %>
                        </p>
                        <% }); %>
                </section>
                <% } %>
                    <section class="panel">
                        <img src="/img/logo.webp" alt="logo">
                        <h3>Registro de usuario</h3>
                        <form method="post" action="/register-user">
                            <div class="container">
                                <section>
                                    <label for="username">Usuario</label>
                                    <input id="username" name="username" type="text" required>
                                </section>
                                <section>
                                    <label for="password">Contraseña</label>
                                    <input id="password" name="password" type="password" required>
                                </section>
                                <section>
                                    <label for="email">E-mail</label>
                                    <input id="email" name="email" type="text">
                                </section>
                            </div>
                            <button class="register" type="submit">Registrar</button>
                        </form>
                    </section>

                    <% // Usuarios %>
                        <% if (users) { %>
                            <section class=" panel">
                                <h3>Usuarios registrados</h3>
                                <form id="user-update" method="post" action="/update-user">
                                    <div class="container">
                                        <section>
                                            <label for="users">Usuario</label>
                                            <select id="user-select" name="user" id="user" required>
                                                <option value="" selected disabled>Seleccione un usuario</option>
                                                <% users.forEach(user=> { %>
                                                    <option value="<%= user.dataValues.id %>">
                                                        <%= user.dataValues.username %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </section>
                                    </div>
                                    <div id="container-users"></div>
                                </form>
                                <form action="/request-password-change" method="post">
                                    <div id="change-div"></div>
                                </form>
                            </section>
                            <% } %>
</body>

</html>